.footer{
    height: 330px;
    overflow: hidden;
    position: relative;
    &__info{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        top: 0px;
        &__arrow{
            @include small-circle(50px,50px,transparent,2px solid $text-color);
            @include flex(row,center);
            align-items: center;
            position: absolute;
            bottom: 50px;
            right: 30px;
            transition: 0.3s all ease-in-out;
            &:hover{
                color: $main-color;
            }
        }
        &__contact__details{
            @include flex(row,space-between);
            width: 60%;
            &__text{
                position: relative;
                &::after{
                    @include after-before($main-color,2px,15px);
                    right: -25px;
                    bottom: 3px;
                }
            }
        }
    }
}
