.numbers{
    margin: 60px 0 50px 0;
    position: relative;
    &__bar{
        @include flex(row,space-between);
        position: absolute;
        width: 75%;
        bottom: 30%;
        left: 12%;
    }
}